# Build outputs
**/bin/
**/obj/
**/out/
**/artifacts/
**/TestResults/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
*.vcxproj.user

# MSBuild logs
*.binlog

# NuGet
**/packages/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Rider / ReSharper
.idea/
*.sln.iml
*.DotSettings.user
_ReSharper*/
*.resharper

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Misc
*.log
*.tmp
